#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout {
  height: 100vh;
}
.home-page {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth-card {
  width: 450px;
  box-shadow: #b0b0b087 1px 9px 20px 6px;
  border-radius: 9px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.auth-card input {
  margin-top: 10px;
}
.aup-card {
  box-shadow: #b0b0b087 1px 9px 20px 6px;
  border-radius: 9px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aup-card-inner {
  display: flex;
  flex-direction: column;
}
.app-card-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 16vh;
  margin-bottom: 16vh;
}
.app-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: #b0b0b087 1px 9px 20px 6px;
  border-radius: 10px;
  padding: 5px 10px 0px 10px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.app-card:hover {
  box-shadow: #b0b0b087 1px 19px 20px 6px;
  transform: translateY(5px);
}
.app-card img {
  height: 55px;
}
.app-card p {
  margin: 0px;
  color: rgba(0, 0, 0, 0.705);
}
